
* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
}


body {
	/*background-color:powderblue;*/
}

#main-section {
	background-color: powderblue
}
section#main-section > a {
	color: blue;
	text-decoration: none;
	padding: 15px;
	display: block;
}

a[href="https://github.com/jovelynpoyaoan"] {
	position: absolute;
	top: 0;
	right: 0;
}

.about {
	width: 60%;
	/*margin: 0 auto;*/
	text-align:center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);
}

.my-picture {
	height: 250px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	border-width: 5px;
}
h1 {
	color: #fff;
	font-size:  50px;
	font-weight: normal;
}
#portfolio-section {
   background-color: orange
}
#skills-section {
   background-color: yellow
 }
#about-section {
   background-color: green
 }

#main-section,
#portfolio-section,
#skills-section,
#about-section {
     height: 100vh;
}